__pycache__/
*.py[cod]
.venv/
.work/
output/
*.inspect.ndjson
assets/templates/*
!assets/templates/README.md
assets/fonts/*
!assets/fonts/README.md
assets/models/*
!assets/models/README.md
Thumbs.db
.DS_Store
